.postback{
    font-size: 30px;
    color: var(--ion-color-primary);
}
ion-toolbar{
    --padding-top: 15px;
    --padding-bottom: 15px;
    --padding-start: 15px;
    --padding-end: 15px;
}
.postview{
    padding: 0 15px 0 15px;
}

.postview > ion-item > img{
    height: 50px;
    border-radius: 100%;
}
.postview > ion-item > ion-label{
    font-weight: 800;
    margin-left: 10px;
}

.postview > p{
    font-size: 18px;
    word-break: break-all;
    text-align: justify;
    color: #000000a3;
}

.postview > img{
    border-radius: 20px;
}

.postview > div:nth-of-type(1){
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    color: #5f5e5e;
    
}
.postview > div:nth-of-type(2){
    display: flex;
    // justify-content: space-between;
    font-size: 15px;
    color: #5f5e5e;
    border-top: 1px solid #b4abab;
}

.postview > div:nth-of-type(2) > p{
margin-right: 10px;
font-size: 15px;
}
.postview > div:nth-of-type(3){
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #b4abab;
    border-bottom: 1px solid #b4abab;
    padding: 5px;
}
.postview > div:nth-of-type(3) > ion-item > ion-icon{
    color: #5f5e5e;
    font-size: 15px;
}

.commentsview{
    height: fit-content;
    width: 110%;
    border-bottom: 1px solid #b6b2b2;
    display: grid;
    grid-template-columns: 20% 70%;


    &  > ion-avatar{
   
        margin-right: 10px;
        margin-top: 25px;
    }

 
    &  > .postImg{
        border-radius: 20px;
    }

    & > div > h2{
        font-weight: 700;
        padding: 10px;
        font-size: 20px;
    }

    & > div > p{
        font-size: 18px;
        margin-top: -15px;
        color: #686767;
        text-align: justify;
        word-break: break-all;
    }

    & > div > div {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-bottom: 10px;

       
    }
    & > div > div > ion-item{
        width: fit-content;
        color: #514f4f;
    }

    & > div > div > ion-item > ion-icon{
        font-size: 15px;
    }
    & > div > div > ion-item > ion-label{
        width: fit-content;
        font-size: 15px;
    }


    
    
}
.commentsview:last-child{
   border: none;
}



.ion-footer{
}

.ion-footer > ion-toolbar {
    height: fit-content;
    --padding-top: 0px; 
    --padding-bottom: 0px; 
    --padding-start: 15px;
    --padding-end: 15px;
}

.ion-footer > ion-toolbar >div{
    height: fit-content;
    /* border-bottom: 1px solid #8f898e; */
    margin-bottom: 16px;
    display: grid;
    width: 100%;
    grid-template-columns: 90% 10%;
}

.ion-footer > ion-toolbar > div > ion-icon{
color: var(--ion-color-primary);
font-size: 35px;
}
.ion-footer > ion-toolbar > div > ion-textarea{
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 0;
    font-size: 18px;
    --placeholder-opacity: 0.7;
    }