.searchwrap{
    background-color: var(--ion-color-primary);
    height: calc(130px/2);
    width: 100%;
    
}

.searchwrap2{
    background-color: var(--ion-color-primary);
    height: calc(150px/2);
    width: 100%;
    border: none;
    margin-top: -10px;
    z-index: 100;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    border-radius: 0 0 20px 20px;
}
.searchbar{
    --border-radius: 25px;
    --background: #ffffff;
    margin-top: 0px;
}

.h2{
    padding: 20px 0 0 10px;
    color: #fff;
    font-size: 18px;
    margin-left: 15px;
}

.listwrap{
    width: 100%;
    height: fit-content;
    border-radius: 20px 20px 0 0;
    background-color: #ffffff;;
   
}

.loader{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-avatar {
    width: 50px;
    height: 50px;
}

h3{
    font-weight: 700;
    font-size: 15px;
}
p{
    font-weight: 700;
    font-size: 15px;
}

.divider{
    border-bottom: 1px solid #EBEBEB;
}

ion-badge{
    z-index: 10;
    
    box-shadow: 2px 2px 10px 0px #888484;
}