<ion-header [translucent]="true">
  <ion-toolbar class="toolbar">
    <img class="profileImg" src="{{user_img}}" alt="" slot="start" (click)="profile()">
    <ion-title>
      Gradbook
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >

  <!-- <ion-searchbar class="searchbar" showCancelButton="focus"></ion-searchbar> 
<div class="divider"></div> -->


  <div class="view" >
    <ion-refresher slot="fixed" #refresher (ionRefresh)="doRefresh($event.target)" pullFactor="0.5" pullMin="30" pullMax="90">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="postview" *ngFor="let view of views" >
      <ion-avatar (click)="posterdetail(view.poster_img, view.name, view.post, view.post_img)"><img  class="posterImg" src="{{view.poster_img}}" alt=""></ion-avatar>
        <div>
            <ion-item lines="none">
              <h2 (click)="posterdetail(view.poster_img, view.poster_name, view.post, view.post_img)">{{view.poster_name}}</h2>
               <h6 slot="end">{{view.post_date}}</h6>
            </ion-item>
            <p (click)="postdetail(view.poster_img, view.poster_name, view.post, view.post_img, view.post_id, view.comment_count,view.post_like)"> {{view.post}}</p>
              <img class="postImg" src="{{view.post_img}}" alt="">
              <div>
                <ion-item lines="none">
                  <ion-icon name="heart-outline" (click)="like(view.post_id)"></ion-icon>
                  <ion-label>{{view.post_like}}</ion-label>
                </ion-item>
      
               <ion-item lines="none">
                  <ion-icon name="chatbubble-outline" (click)="postdetail(view.poster_img, view.poster_name, view.post, view.post_img, view.post_id, view.comment_count,view.post_like)"></ion-icon>
                  <ion-label>{{view.comment_count}}</ion-label>
               </ion-item>
      
                <ion-item lines="none">
                  <ion-icon name="share-social-outline"></ion-icon>
                  <ion-label>2</ion-label>
                </ion-item>
              </div>
        </div>
    </div>
  
    
  </div>


  <div class="floatbtn" (click)="gotoPost()">
    <ion-icon name="add"></ion-icon>
  </div>
</ion-content>
