.searchwrap > ion-item{
    --background:none;
    padding: 10px 0 0 5px;
}

.searchwrap > ion-item > ion-icon{
    color: #fff;
}

.searchwrap > ion-item > ion-label{
    color: #fff;
    font-size: 20px;
}


h2{
    padding: 20px 0 0 20px;
    color: #fff;
    font-size: 20px;
}

.searchwrap{
    background-color: var(--ion-color-primary);
    height: 100px;
    width: 100%;
}
.searchwrap2{
    background-color: var(--ion-color-primary);
    height: 100px;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 10;
}




.listwrap{
    width: 100%;
    height: fit-content;
    background-color: #ffffff;;
     z-index: 0;
}

ion-avatar {
    width: 100px;
    height: 100px;
    margin-left: calc((100% - 100px) / 2);
    position: absolute;
}

.info{
    position: relative;
    top: 20px;
    z-index: 0;
}

.info > ion-item{
    border-bottom: 1px solid #e0dcdc ;
padding: 10px;
}

.info > ion-item > ion-icon{
color: var(--ion-color-primary);
font-size: 20px;
}

.info > ion-item > ion-label{
    color: rgb(117, 114, 114);
    font-size: 15px;
}

h3{
    font-weight: 700;
    font-size: 17px;
}
p{
    font-weight: 700;
    font-size: 15px;
}

.divider{
    border-bottom: 1px solid #EBEBEB;
}
ion-item-divider{
    background-color: #e6e6e6;
    // box-shadow: -1px -1px 6px 0px #694be2;
}

.hobby{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:10px
}

.hobby > ion-item{
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 25px;
    --background: var(--ion-color-primary);
    color: #fff;
    font-size: 15px;
 margin: 0 0px 5px 0;
}