<ion-content >
  <div class="searchwrap"> 
    <ion-item lines="none">
      <ion-icon slot="start" name="arrow-back" (click)="colleague()"></ion-icon>
      <ion-label>My Colleagues</ion-label>
    </ion-item>
  </div>

  <div class="searchwrap2"> 
    <ion-avatar slot="start">
      <img src="{{mate.image}}" />
    </ion-avatar>
  </div>
 
   <div class="listwrap"> 

    <ion-list class="info">
      <ion-item-divider>
        <ion-label>
          Basic Info
        </ion-label>
      </ion-item-divider>
            
      <ion-item lines="none">
        <ion-icon slot="start" name="person"></ion-icon>
        <ion-label>{{mate.username}}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="person-add"></ion-icon>
        <ion-label>Nickname</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="calendar"></ion-icon>
        <ion-label>Birthday</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="document-attach"></ion-icon>
        <ion-label>13/30GC018</ion-label>
      </ion-item>

    
            
      <ion-item-divider>
        <ion-label>
          Contact Info
        </ion-label>
      </ion-item-divider>
            
      <ion-item lines="none">
        <ion-icon slot="start" name="call"></ion-icon>
        <ion-label>08005678345</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="mail"></ion-icon>
        <ion-label>test@gmail.com</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="location"></ion-icon>
        <ion-label>Address</ion-label>
      </ion-item>



      <ion-item-divider>
        <ion-label>
          Social Accounts
        </ion-label>
      </ion-item-divider>
            
      <ion-item lines="none">
        <ion-icon slot="start" name="logo-twitter"></ion-icon>
        <ion-label>@tolutronics</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="logo-linkedin"></ion-icon>
        <ion-label>Linkedin url</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        <ion-label>@tolusax</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-icon slot="start" name="logo-instagram"></ion-icon>
        <ion-label>@tolutronics</ion-label>
      </ion-item>

      <ion-item-divider>
        <ion-label>
          Hobbies
        </ion-label>
      </ion-item-divider>

      <div class="hobby">
        <ion-item lines="none">
          <ion-label>MUSIC</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label>SOCCER</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label>READING</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label>TRAVELLING</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label>DRIVING</ion-label>
        </ion-item>
      </div>




    </ion-list>
         


  </div> 
 
 
 </ion-content>
 